<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjdjyf.newssm.mapper.tool.CodeCreateMapper">
    <resultMap id="BaseResultMap" type="com.cjdjyf.newssm.pojo.tool.CodeCreate">
    </resultMap>
    <sql id="Base_Column_List">
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.user_name,
            a.role_id,
            t.group_id,
            b.group_name,
            t.note,
            t.create_people
        FROM sys_account t
            LEFT JOIN sys_account_role a ON a.account_id = t.id
            LEFT JOIN sys_group b ON b.id = t.group_id
        WHERE t.id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" parameterType="com.cjdjyf.newssm.pojo.sys.SysAccount" resultMap="BaseResultMap">
    </select>
    <sql id="findAllWhere">
    </sql>
</mapper>